.container{
    display: flex;
    justify-content: space-between;
    background: repeating-linear-gradient(45deg, #dfd925, #814d00 100px);
    padding: 1rem;
    align-items: center;
    border-radius: 10px;
    
}

.innerSearchBar{
    width: 300px;
    margin-bottom: 0;
    font-size: 15px;
    border: solid black 1px;
    border-radius: 5px;
}
input::placeholder{
    color: white;
}
.picklist{
    display: flex;
    gap: 2rem;
}
.innerPicklist{
    background-color: white;
    padding: 3px;
    border: solid black 1px;
    border-radius: 5px;
}
