.background{
    background: linear-gradient(0deg, #fcfcfc 50%, #ff0000 50%);
    padding: 1rem;
    border-radius: 10px;

}
.line{
    border-bottom: solid black 5px;
    display: block;
    position: relative;
    bottom: 82px;
    z-index: 0;
}